*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: "vazir";
    src: url("./assets/Fonts/Vazirmatn-Regular.woff2");
}

body {
    font-family: "vazir";
}

:root {
    --color-text: #1E1E1E;
    --color-bgc-number: #AFCEDD;
    --color-text-number: #234894;
    --color-silver: #696969;
    --color-btn: #219F95;
    --color-white: #FFFFFF;
}

h1 {
    color: var(--color-text);
    font-size: 2.2rem;
    font-weight: 900;
    padding: 3.1rem 5rem;
    margin-bottom: 6.3rem;
}

main {
    padding: 0 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
}

.card {
    width: 40rem;
    height: 20rem;
    padding: 1.7rem;
}

.header__number {
    width: 4rem;
    height: 4rem;
    background-color: var(--color-bgc-number);
    border-radius: 6px;
    padding: 0.6rem 1.4rem;
    color: var(--color-text-number);
    font-size: 1.8rem;
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__header-text {
    padding-right: 1rem;
    color: var(--color-text-number);
    font-size: 1.6rem;
}

.card__header span {
    display: flex;
    align-items: center;
}

.card__header p {
    font-size: 1.2rem;
    color: var(--color-silver);
}

.membership {
    margin-top: 1.6rem;
}

.membership-request {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--color-text);
}

.membership-id {
    color: var(--color-silver);
    margin-top: 0.3rem;
}

.membership-img {
    width: 4rem;
    border-radius: 13px;
}

.membership-account {
    display: flex;
    margin-top: 1.4rem;
    align-items: center;
}

.membership-name {
    padding-right: 0.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-text);
}

.card__content {
    display: flex;
    justify-content: space-between;
}

button {
    width: 15rem;
    height: 6.4rem;
    cursor: pointer;
    background-color: var(--color-btn);
    border: none;
    border-radius: 8px;
    color: var(--color-white);
    font-size: 1.6rem;
    align-self: flex-end;
    font-family: "vazir";
}

@media screen and (max-width: 1310px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
    }
}
